@model TournamentDetailedListPageModel

@{
    ViewData["Title"] = "All Tournaments";
}

<h2>@ViewData["Title"]</h2>

<div class="ticketBox">
    <div class="row">
        <div class="col-xs-6">Name</div>
        <div class="col-xs-2">Start Date</div>
        <div class="col-xs-2">End Date</div>
        <div class="col-xs-2">Teams</div>
    </div>

    <div class="ticket-description">
        @foreach (var tournament in Model.Tournaments)
        {
            <div class="row">
                <div class="col-xs-6"><a asp-action="View">@tournament.Name</a></div>
                <div class="col-xs-2">@tournament.StartDate.ToShortDateString()</div>
                <div class="col-xs-2">@tournament.EndDate.ToShortDateString()</div>
                <div class="col-xs-2">@tournament.Teams</div>
            </div>

            <hr />
        }
    </div>
</div>

@await Html.PartialAsync("_PageNavigation", Model)